@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Optima';
  src: url('/fonts/OPTIMA.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Palatino';
  src: url('/fonts/palr45w.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-optima {
  font-family: 'Optima', sans-serif;
}

.font-palatino {
  font-family: 'Palatino', serif;
}

